<p id="notice"><%= notice %></p>
<%=link_to "Back to Bugs", project_bugs_path(project_id: @project_bug.project.id),class: 'btn btn-success'%>
<p>
  <strong>Title:</strong>
  <%= @project_bug.title %>
</p>
<p>
  <strong>Deadline:</strong>
  <%= @project_bug.deadline %>
</p>
<strong>Bug Image:</strong>
<div >
  <% if @project_bug.screenshot.attached? %>
<%=image_tag(@project_bug.screenshot,  size: "200x200") %>
    <% end %>
</div>
<p>
  <strong>Description:</strong>
  <%= @project_bug.description %>
</p>
<p>
  <strong>Bug Type:</strong>
  <%= @project_bug.bug_type %>
</p>
<p>
  <strong>Status:</strong>
  <%if current_user.user_type == "qa"%>
    <%= @project_bug.status %>
    <%if @project_bug.status !="new" %>
      <br>
    <strong>Assigned To:</strong>
    <%=@developer.name%>
      <%end %>
    <%# %>
  <%# @project_bug.status == "new"%>

    <%else %>
    <%= @project_bug.status %>
  <% if (@project_bug.assigned_id && current_user.id == @project_bug.assigned_id) || @project_bug.status =='new'%>
<%= form_for(@project_bug, url: project_bug_path(@project_bug), html: {method: :patch}) do |f| %>
    <%= f.label :status%>
    <% if @project_bug.bug_type == 'feature' %>
      <%= f.select :status, ['new', 'started', 'complete']%>
    <% else %>
      <%= f.select :status, ['new', 'started', 'resolved']%>
    <% end %>
        <%if @project_bug.status == 'new' %>
    <%= f.submit "Assign Me" ,class:"btn btn-success"%>
          <%else %>
          <%= f.submit "save" ,class:"btn btn-success"%>
          <%end %>
  <% end %>
    <%end %>
    <%if @project_bug.assigned_id !=nil%>
      <p>
    <strong>Assigned To:</strong>
    <%=@developer.name%>
  </p>
<%end %>
    <%end %>
  <%# else %>
<!--  status : <%#= @bug.status %>-->
  <%#end %>
</p>

<%if current_user.user_type == "qa" %>
<%= link_to 'Edit', edit_project_bug_path(project_id: @project_bug.project.id),class:"btn btn-success "  %>
<%end %>
<%#= link_to 'Back', project_bugs_path %>
