
<!DOCTYPE html>
<html>
<head></head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="<%= root_path %>">Bug Tracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <%if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Sign out ', destroy_user_session_path, method: :delete,class: "nav-link"%>
        </li>
        <% if current_user.user_type == 'manager' %>
          <li class="nav-item">
            <%= link_to 'create project', new_project_path ,class: "nav-link"%>
          </li>
          <li class="nav-item">
          <%= link_to 'Projects',projects_path,class: "nav-link"%>
          </li>
        <%end %>
        <% if current_user.user_type == "developer"%>
          <li class="nav-item">
            <%= link_to 'View Project', projects_path ,class: "nav-link"%>
          </li>
        <%end %>
        <% if current_user.user_type == "qa"%>
<!--          <li class="nav-item">-->
            <%= link_to 'Projects',projects_path,class: "nav-link"%>
<!--          </li>-->
        <%end %>
          <li class="nav-item">
            <%= link_to current_user.name,user_path(current_user),class: "nav-link"%>
<!--            <a class="nav-link" href="#"><%#=current_user.name%></a>-->
          </li>
      <%else%>
      <li class="nav-item">
        <%= link_to 'Sign in ', new_user_session_path,class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Register', new_user_registration_path ,class: "nav-link"%>
      </li>
      <%end %>
    </ul>
  </div>
</nav>

<%# if user_signed_in? %>
  <%# if current_user.user_type == 'Manager' %>
    <%#= link_to 'create project', new_project_path%>
  <%#end %>

  <%# if current_user.user_type == "developer" %>
<!--    <h1>All projects</h1>-->

    <%# current_user.projects.each do |project|%>

      <%#= link_to project.name,project_bugs_path(project_id: project.id)%>
      <br>
    <%#end %>
  <%#end %>

  <%#= link_to 'sign out ', destroy_user_session_path, method: :delete%>
<%#else %>
  <%#= link_to 'Register', new_user_registration_path %>
  <%#= link_to 'Sign in ', new_user_session_path %>
<%#end %>
</body>
</html>